* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{

  font-family: 'Open Sans', sans-serif;
}
p{
  color: hsl(208, 11%, 55%);
}
h1 , h2{
  font-family: 'Poppins', sans-serif;
}
main{
  align-items: center;
  text-align: center;
}
.background{
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  background-image: url("images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #ebfbff;
}
.main-header{
  display: flex;
  margin: 30px;
  justify-content: space-between;
  margin-bottom: 60px;
}
.main-header img{
  width: 150px;

}
.main-header button{
  border: none;
  background-color: #ffff;

  border-radius: 50px;
  width: 100px;
  height: 25px;
  font-family: 'Open Sans', sans-serif;
}
.btn-start{
  border: none;
  border-radius: 50px;
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0px 0px 10px hsl(192, 100%, 9%,0.1);
  width: 300px;
  height: 50px;
  margin: 20px 0 50px 0px;
}
.item-1{
  align-items: center;
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column-reverse;
}
.item-1 img{
  width: 90%;
}
.item-1 p{
  color: #000000;
}
 .item-2, .item-3, .item-4{
  box-shadow: 0px 0px 10px hsl(192, 100%, 9%,0.1);
  border-radius: 30px;
  background-color: #ffff;
  margin: 25px;
  padding: 20px;
  height:400px;
}
.item-5{
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px hsl(192, 100%, 9%,0.1);
  padding: 10px;
  margin:20px;
  position: relative;
  top:80px;
  background-color: white;
  border-radius: 30px;
}
main img{
  width:70%;
}
h1{

}
footer{
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  padding: 8px;
  color: #ffff;



}

footer img{
  margin:25px;
  width: 20px;
  height: 20px;
}
.logo{
  width: auto;
  margin-top: 100px;
}
footer p{
  position: relative;
  top:22px;
}

.location, .number, .email{
  display: flex;
}
.social{
  display: flex;
    align-items: center;
    justify-content: center

}
@media (min-width:700px){
  .background{
    background-image: url("images/bg-hero-desktop.svg");
  }
  main img{
    width:30%;
    float: right;
    margin-left: 200px;
    min-height: 200px;
    min-width: 200px;

  }

  .item-1,.item-2, .item-3, .item-4{
    text-align: left;
    align-content: center;
    padding: 50px 100px 0px 100px;

  }
  .item-2, .item-3, .item-4{
    margin: 50px 200px 50px 200px;
  }

  .item-3 img{
    float: left;
    margin: 0 200px 0 0;
  }
  .item-1{
    margin-bottom: 300px;
    display: block;
    flex-direction: row;
  }
  .text{
    width:40%;
  }

  .item-1 img{
    width: 50%;
    float: right;
    min-width: 300px;
    margin-left: 200px;

  }
  .item-5{
    width:40%;
    left: 450px;
  }
  footer{
    display: flex;
  }
  .dates{
    flex:2;
    margin-right: 50px;
  }
  .links{
    flex: 0.5;
    margin-top: 150px;

  }
  .social{
    flex: 1;
    margin-top: 200px;
  }



}
